body
{
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	overflow-x:hidden;
}

div
{
	text-align:left;
	vertical-align:top;
	display:inline-block;

	font-family:"Times New Roman";
}

.dark-color
{
	color:#111111;
}

.michael-color
{
	color:#68D4FF;
}

.review
{
	width:400px;
}

.line
{
	width:550px;
	border-color:#68D4FF;
}
